<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ $.Site.BaseURL }}favicons/apple-touch-icon.png?v=Jykddr29Nk">
<link rel="icon" type="image/png" sizes="32x32" href="{{ $.Site.BaseURL }}favicons/favicon-32x32.png?v=Jykddr29Nk">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $.Site.BaseURL }}favicons/favicon-16x16.png?v=Jykddr29Nk">
<link rel="manifest" href="{{ $.Site.BaseURL }}favicons/site.webmanifest?v=Jykddr29Nk">
<link rel="shortcut icon" href="{{ $.Site.BaseURL }}favicons/favicon.ico?v=Jykddr29Nk">
<meta name="theme-color" content="#ffffff">

{{ "<!-- Bootstrap Core CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ "css/bootstrap.min.css" }}" type="text/css">
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ "font-awesome/css/font-awesome.min.css" }}" type="text/css">

{{ "<!-- Custom CSS -->" | safeHTML }}
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ "css/main.css" }}" type="text/css">
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ "css/navbar.css" }}" type="text/css">
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ "css/blogentry.css" }}" type="text/css">
<link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ "css/vs.min.css" }}">