<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="{{ "js/jquery-ui.min.js" | absURL }}"></script>
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script lang="">(function ($) {
        "use strict";

        hljs.initHighlightingOnLoad();

        // smooth scrolling on anchor click
        $('a[href*="#"]').on('click', function (e) {
            e.preventDefault();

            $('html, body').animate({
                scrollTop: ($($(this).attr('href')).offset().top - 50)
            }, 500, 'easeInOutExpo');
        });
        
        // paint navbar when scrolled
        $(document).scroll(function () {
            $(".navbar").toggleClass("navbar-scrolled", $(this).scrollTop() > 50);
        });

    })(jQuery);</script>