html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: rgb(102, 102, 102);
}

/* used for underlining titles */
hr {
    max-width: 150px;
    border-color: #99b5d6;
    border-width: 3px;
    margin-top: 80px;
    margin-bottom: 80px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #99b5d6;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #88a4c5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

/* 
bg-primary / bg-dark
bg-primary => blogentry: Header, front page: blue sections 
bg-dark => front page: dark sections
 */

.bg-primary {
    background-color: #99b5d6;
}

.bg-primary a {
    color: rgba(52, 52, 52, .7);
}

.bg-primary a:hover,
.bg-primary a:focus {
    color: rgb(52, 52, 52);
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.bg-dark blockquote {
    color: #ddd;
}

.bg-dark code {
    background-color: #444;
    color: #ddd;
}

section {
    padding: 100px 0;
}

/* blog: toc */

aside {
    padding: 50px 0;
}


header {
    position: relative;
    width: 100%;
    min-height: 50%;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {        
        min-height: 100%;
        background-position: center top;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

img{
    max-width: 100%;
}


table {
  padding: 0;
  margin-bottom: 30px;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  background-color: #ededed;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

/* summary in blog post preview */

.summary h1, .summary h2, .summary h3, .summary h4 {
    font-size: 16px;
    font-weight: bold;
}

.summary code {
    background-color: transparent !important;
}

.summary img {
    background-color: white;
}