.blogentry p{
    line-height: 1.8;
}

.blogentry h2{
    margin: 60px 0 20px 0;
}

.blogentry section {
    padding-bottom: 50px;
}

.blogentry article{
    padding: 50px 0;
}

.blogentry a{
     color: #2A75BA;
}

code {
    background-color: #f8f8f8;
    color: rgb(51, 51, 51);
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

p code {
    display: inline;
    word-wrap: break-word;
    padding: 0.4rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
}

pre code {
    display: inline;
    word-wrap: normal;
    word-break: normal;
    overflow: scroll;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    line-height: 1.3rem;
}

pre {
    background-color: #f8f8f8;
    padding: .8rem;
    border-radius: 0.3rem;
    overflow: scroll;
}