body {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.archive-count{
    color: rgba(0, 0, 0, 0.2);
}

.post-content h2 {
    margin: 48px auto 24px;
}

.chroma {
    background-color: unset !important;
    border: 1px solid;
}

.chroma .k, .chroma .kc, .chroma .kd, .chroma .kn, .chroma .kp, .chroma .kr, .chroma .o, .chroma .ow {
    color: var(--content) !important;
}


.post-content pre code {
    color: var(--content);
}

.filename {
    margin-bottom: -10px;
    padding: 4px 10px;
    font-family: Menlo,Monaco,courier new,Courier,monospace;
    font-size: .7em;
}


.toc {
    padding: 14px;
    border: solid 1px lightgray;
    font-size: 12px;
}


@media (min-width: 1280px) {
    .toc {
        position: sticky;
        float: left;
        --toc-left: calc(100vw / 50);
        left: var(--toc-left); /* _minimum_ distance from left screen border */
        top: 100px;
        margin-left: -1000px; /* overruled by left */
    
        width: calc((100vw - var(--main-width) - 2 * var(--gap)) / 2 - 2 * var(--toc-left));
        padding: 14px;
        border: solid 1px lightgray;
        font-size: 12px;
    }
  
    .toc .inner {
        padding: 0;
    }
  
    .toc details summary {
        margin-inline-start: 0;
        margin-bottom: 10px;
    }

}



summary {
    cursor: pointer !important;
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #fff;
    --primary: #778ea8;
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgb(102, 102, 102);
    --hljs-bg: #f5f5f5;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.dark {
    --theme: #576175;
    --entry: #333c47;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.74);
    --hljs-bg: #333c47;
    --code-bg: #333c47;
    --border: #333;
}