<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <title>{{ .Title }}</title>
        <meta name="description" content="{{ .Summary }}">
        <meta name="keywords" content="{{ delimit .Keywords ", " }}">
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav_absolute.html" . }}
        {{ partial "blog_entry.html" . }}
        {{ partial "blog.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
