{{ "<!-- PUBLICATIONS -->" | safeHTML }}
<section class="bg-primary" id="publications">
    {{ with .Site.Params.publications.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row">
            {{ range .Site.Params.publications.years }}
            <div class="col-lg-10">
            <h2>{{ .year }}</h2>
                {{ range .entry }}
                        <p class="text-muted">
                            {{ .text | markdownify  }}
                            {{ if .link }}
                                <a href="{{ .link }}"><i class="fa fa-external-link"></i></a>
                            {{ end }}
                        </p>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
